<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
        1. 개인정보
        2. 위치정보
        3. 비용이 발생할 가능성이 있는 작업
        4. 배터리를 많이 소모하는 등등등등등등
        .
        .
        위의 작업을 app에서 한다면 허가를 얻어내야 한다.
        ex. 어플 킬 때 "이 어플은 위치 정보를 사용합니다."알람이 뜨는 것 (사용자가 허용해야 앱 사용 가능)
     -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 이 앱은 인터넷 자원을 사용해~~라고 허락을 구하는 설정이다. -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroid2"
        android:usesCleartextTraffic="true">
        <!--
            android:usesCleartextTraffic="true"
            https가 아닌 http요청도 가능하게 하는 설정이다.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>